#splash_screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 10000;
}
#splash_screen #splash_screen_inner {
  z-index: 2000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
#splash_screen .ball_out {
  background-color: rgba(0,0,0,0);
  border: 5px solid #fff;
  opacity: 0.9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #fff;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin 0.5s infinite linear;
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
}
#splash_screen .ball_in {
  background-color: rgba(0,0,0,0);
  border: 5px solid #fff;
  opacity: 0.9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #fff;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  -moz-animation: spinoff 0.5s infinite linear;
  -webkit-animation: spinoff 0.5s infinite linear;
  animation: spinoff 0.5s infinite linear;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinoff {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spinoff {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-o-keyframes spinoff {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinoff {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
